* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  --main-color: #ed5752;
  // height: 100vh;

  --main-bg: linear-gradient(41deg, rgba(255, 255, 255, 1) 0%, rgba(217, 248, 255, 1) 0%, rgba(255, 255, 255, 1) 93%);

  --topbar-bg: {
    background: rgb(250, 168, 168);
    background: linear-gradient(
      41deg,
      rgba(250, 168, 168, 1) 0%,
      rgba(237, 87, 82, 1) 13%,
      rgba(237, 87, 82, 1) 56%,
      rgba(255, 102, 102, 1) 100%
    );
  }
}
